

.LogInContainer {
  margin-top: 120px;
  font-family: 'Pacifico', cursive;
  width: 500px;
  height: auto;
  padding: 20px;
  background-color: rgb(121, 95, 95);
  border-radius: 12px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
}

.LogInContainer h1 {
  
  text-align: center;
  font-size: 35px;
}

.error{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: 'Playfair Display', serif;
  font-size: 21px;
  color: rgb(129, 19, 19);
}


.LogInContainer label {
  margin-top: 10px;
  font-size: 20px;
}
.LogInContainer .LoginInput {
  display: flex;
  flex-direction: column;
}

.LoginInput input {
  height: 40px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  
}

.LogInContainer button {
  font-family: 'Pacifico', cursive;
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  
}

.LogInContainer button:hover {
  color: rgb(39, 27, 27);
  border-bottom: 2px solid rgb(39, 27, 27);
}

.RegisterContainer{
  display: flex;
  align-items: center;
  font-size: 21px;
  
}


.Register {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 50%;
}

@media(max-width: 760px) {
  
  .LogInContainer {
    width: 400px;
    height: auto;
    padding: 20px;
  
  }
  
  .LogInContainer h1 {
    
    text-align: center;
    font-size: 30px;
  }
  
  .error{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
   
  }
  
  .LogInContainer label {
    margin-top: 10px;
    font-size: 19px;
  }
  
  .LoginInput input {
    height: 35px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    
  }
  
  .LogInContainer button {
    margin-top: 20px;
    height: 35px;
    font-size: 14px;
    
  }
  
  .RegisterContainer{
    display: flex;
    align-items: center;
    font-size: 20px;
    
  }
  
  .Register {
    margin-left: 20px;
    margin-bottom: 20px;
    width: 50%;
    
  }
  
  .RegisterText{
    font-size: 20px;
  }
  
  .RegisterContainer Button {
    font-size: 13px;
  }
  
}
  

@media(max-width: 480px) {
  
.LogInContainer {
  width: 300px;
  height: auto;
  padding: 20px;

}

.LogInContainer h1 {
  
  text-align: center;
  font-size: 28px;
}

.error{
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
  color: rgb(129, 19, 19);
}


.LogInContainer label {
  margin-top: 10px;
  font-size: 17px;
}
.LogInContainer .LoginInput {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.LoginInput input {
  height: 30px;
  font-size: 13px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  
}

.LogInContainer button {
  font-family: 'Pacifico', cursive;
  margin-top: 20px;
  height: 30px;
  font-size: 14px;
  
}


.RegisterContainer{
  display: flex;
  align-items: center;
  font-size: 18px;
  
}


.Register {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 50%;
  
}

.RegisterText{
  font-size: 18px;
}

.RegisterContainer Button {
  font-size: 11px;
}

}
