
.homePage {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    
        
  }
  .ProfileButtonContainer{
    position: absolute;
    top: 0;
    right: 20px;
  }
  
  
  .signInWarning {
    font-family: 'Pacifico', cursive;
    font-size: 25px;
  }

  
  